<mat-toolbar color="primary">
  <span>Lista de Tarefas</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="logout()" title="Sair">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div class="container-pagina" *ngIf="tasks$ | async as tasks">
  <div class="conteudo">
    <header class="page-header">
      <h2>Minhas Tarefas</h2>
      <button mat-raised-button color="primary" (click)="onNewTask()">
        <mat-icon>add</mat-icon> Adicionar Tarefa
      </button>
    </header>

    <mat-list *ngIf="tasks.length > 0; else noTasks">
      <app-mycomponent
        *ngFor="let task of tasks"
        [task]="task"
        (editRequest)="onEditTask($event)"
        (deleteRequest)="onDeleteTask($event)">
      </app-mycomponent>
    </mat-list>

    <ng-template #noTasks>
<div class="vazio">
        <mat-icon>inbox</mat-icon>
        <p>Você não possui nenhuma tarefa!</p>
      </div>
    </ng-template>


  </div>

  <aside class="sidebar-content">
    <app-second [tasks]="tasks"></app-second>
  </aside>

</div>
